/* desktop screen view */

@media (min-width: 992px) {
    .container {
      width: 970px;
    }
  
    #top_wrapper {
      min-height: 700px;
      padding-top: 180px;
      background: url(../img/blob.png) 50vw center no-repeat, linear-gradient(135deg, #5193f5 0%, #2ebf91 100%);
    }
  
    #top_wrapper .intro {
      max-width: 450px;
      margin: 0 0 0 30px;
      text-align: left;
    }
  
    #top_wrapper .people {
      display: inline-block;
    }
  
    #portfolio .image,
    #portfolio .caption {
      float: left;
      width: 50%;
    }

    .dts-header {
      height: 700px;
      padding-top: 180px;
    }

    .dts-header {
      /* background: url(../img/blob.png) 50vw center no-repeat, linear-gradient(135deg, #5193f5 0%, #2ebf91 100%); */
      background: #EDF1F2;
      font-size: 1.25em;
    }

    .dts-header .intro {
      max-width: 450px;
      margin: 0 0 0 30px;
      text-align: left;
    }

    .dts-header .people {
      display: inline-block !important;
    }

    .dts-header .crc-orange {
      top: 10%;
      left: 200px;
      transform: scale(0.8865);
    }
    
    .dts-header .crc-turquoise {
      bottom: -21%;
      left: -14%;
      transform: scale(1.06);
    }

    .dts-header .crc-yellow {
      bottom: -20%;
      left: 50%;
      transform: scale(1.06);
    }
    
    .dts-header .crc-pink {
      top: 25%;
      right: -16%;
      transform: scale(0.868);
    }
    
  }
  
  /* large desktop screen view */
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  
    #top_wrapper .intro {
      margin: 0 0 0 50px;
    }
  
    #top_wrapper .people {
      margin-right: 80px;
    }

    .dts-header .intro {
      margin: 0 0 0 50px;
    }
  
    .dts-header .people {
      margin-right: 80px;
    }
  
    #portfolio h3 {
      margin-top: 30px;
      font-size: 2.5em;
    }
  }